<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div id="login">
		<form action="/api/loginUser" method="post">
			<h2>用户登录</h2>
			<div><span>电话号码</span><input type="text" name="phone" /></div>
			<div><span>用户密码</span><input type="password" name="pwd" /></div>
			<div><input type="submit" value="登录"></div>
		</form>
		
	</div>
</body>
</html>
