<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/myPagination.css">
	<link rel="stylesheet" type="text/css" href="/font/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/record.css">
	<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/js/myPagination.js"></script>
	<script type="text/javascript" src="/js/record.js"></script>
</head>
<body>
	<div id="record">
		<a style="font-size: 0.3rem; margin: 0.2rem;color: #666" href="/page/index"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
		<div class="model">
			<ul>
				
		</ul>
		<div id="pagination" class="pagination"></div>
		</div>
		<a href="/page/list" id="tiao"></a>
	</div>
</body>
</html>
