#list{
	width: 100%;
	height: 100%;
	background: url("/img/myapp_info_detail.png");
	background-size:115% 100% ; 
	background-position:-0.35rem;
	font-size: 0.15rem;
}
#list:before{
	content: "";
	display: table;
}
#list>ul{
	width: 2rem;
   	margin: 2rem 1rem 0 1.5rem;
}
#list>ul>li{
	height: 0.45rem;
    margin:0.05rem 0 0;
    line-height: 0.45rem;
}
