html{
	font-size: 26.66666vm;
}
#login{
	width: 100%;
	height: 100%;
	background: url("/img/login.png");
	background-size:100% 100%; 
	font-size: 0.02rem;
}
#login:before{
	content: "";
	display: table;
}
#login>form{
	margin: 2rem 0 0;
	line-height: 0.4rem;
	text-align: center;
}
#login>form input{
	border: none;
	background: none;
	background: #fff;
	height: 0.3rem;
	outline: none;
	padding: 0 0.1rem;
	border-radius: 0.06rem;
}
#login>form h2{
	font-size:0.3rem;
	font-family: "楷体";
	margin-bottom:0.3rem; 
}
#login>form span{
	font-size: 0.2rem;
	margin-right: 0.1rem; 
}