#play{
    overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background:url(/img/myapp_play.png);
	background-size: 100% 100%; 
}
#play>.max{
    position: absolute;
    left: 0.2rem;
    top: 1.92rem;
    width: 89%;
    height: 51%;
}
.max>ul{
	width: 100%;
	height: 100%;
}
.max>ul:after{
	content:"";
	display:table;
	clear: both;
}
.max>ul>li {
    float: left;
    width: 20%;
    height: 20%;
    color: yellow;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.1rem;
    background-size: 100% 100%;
}
.max>ul>li.noplay{
	background-image:url("/img/myapp_play_no.jpg");
}
.max>ul>li.yesplay{
	background-image: url("/img/myapp_play_yes.jpg");
}
.bar{
    position: absolute;
    left: 1.52rem;
    top: 1.58rem;
    width:0rem;
    transition: all 1s;
    height: 0.1rem;
    background:url("/img/myapp_play_jdt.png");
    background-size:100% 100%; 
    border-radius: 0.6rem;
}
.timeinfo{
   
    z-index: 2;
    position: absolute;
    left: 1.16rem;
    top: 1.49rem;
    line-height: 0.27rem;
    width: 2.5rem;
    font-size: 0.18rem;
    height: 0.27rem;
    color: #fff;
    font-weight: bold;
    background: transparent;

}
.timeinfo:after{
    content:"";
    display:table;
    clear: both;
}
.timeinfo>.left{
    float: left;
}
.timeinfo>.right{
    float: right;
    font-size: 0.14rem;
}
#btn{
    position: absolute;
    left: 1rem;
    bottom: 0.4rem;
}
#btn>button{
    float: left;
    margin: 0 0.1rem;
    padding: 0;
    border-radius: 0.3rem;
    border:none;
    background:#27bffe;
    outline: none;
    color: #fff;
    box-shadow:0 0.05rem 0 #666;
}
.startBtn{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.8);
}
.startBtn>.img_a{
    display: inline-block;
    margin-top: 2.3rem;
    width: 1.3rem;
    height: 1.3rem;
    background: rgba(246,248,199,0.5);
    border-radius: 50%; 
    box-shadow: 0 0 0.5rem 0.1rem rgba(246,248,199,1);
}
.startBtn>.img_a>img{
    width: 100%;
    height: 100%;
}
.startBtn>p{
    margin-top: 0.2rem;
    color: #F0E440;
    font-weight: bold;
    letter-spacing: 0.02rem;
    font-size: 0.15rem;
}
.startBtn>p>i {
    display: inline-block;
    vertical-align: middle;
    width: 0.9rem;
    border-radius: 0.1rem;
    margin: 0 0.1rem;
    border-top: 0.05rem solid #F0E440;
}
.model1{
    display: none;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.model1:before{
    content: "";
    display: table;
}
.model1>img{
    margin-top: 1.5rem;
    width: 100%;
    height: 45%;
}
.model1>.pinfo{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1rem;
    right: 0;
    height: 0.8rem;
    width: 3rem;
    margin: auto;

}
.model1>.pinfo>h2{
    margin: 0.2rem 0 0.08rem;
    font-size: 0.2rem;
    color: #c6333d;
}
.model1>.pinfo>p{
    color: red;
    font-size: 0.15rem;
}
.xxBtn{
    position: absolute;
    left: 0.1rem;
    top: 0;
    bottom: -0.3rem;
    right: 0;
    margin: auto;
    width: 1.25rem;
    border-radius: 0.5rem;
    height: 0.42rem;
    text-indent: -99999px;
}
.dd{
    width: 2rem;
    height: 1rem;
    margin: 0 auto;
    line-height: 1rem;
}
.dd>a{
    font-size: 0.2rem;
    color: #fff;
}
.dd>a:first-child{
    margin-right: 0.4rem;
}
#xcc{
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 0.6rem;
}
.loading{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:url("/img/reg.png");
    background-size: 100% 100%; 

}
.line{
    text-align:center; 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height:0.3rem;
}
.line_a{
    margin-top: 0.02rem;
    width: 100%;
    height: 0.1rem;
    background:#BD5500;
    border-radius: 0.1rem;
}
.nei_line{
    width: 0%;
    height: 99%;
    transition: all 0.5s; 
    background:linear-gradient(to bottom right, green , #19B3EE);
    border-radius: 0.1rem;
}