#record{
	width: 100%;
	height: 100%;
	background: url("/img/myapp_win.png");
	background-position: -0.28rem;
	background-size: 110% 100%; 
	font-size: 0.1rem;
}
.pagination ul {
    text-align: center;
    padding-left: 0;
}
.pagination ul li {
    min-width: 0;
    min-height: 0;
    padding: 0 0.05rem;
    vertical-align: top;
    display: inline-block;
    font-size: 0.02rem;
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    color: #606266;
    border-radius: 0.06rem;
    margin: 0 0.01rem;
    border: 0.01rem solid #ebebeb;
    /* height: 30px; */
}
.pagination ul li:first-child,.pagination ul li:last-child{
	width: 0.5rem;
}
.model{
	position: absolute;
    width: 75%;
    height: 46%;
    left: 0;
    /*background: red;*/
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.model>ul{
	width: 88%;
    margin: 0 auto;
    list-style: none;
}
.model>ul>li{
	text-align: center;
	height: 0.5rem;
	line-height: 0.5rem;
    margin: 0.1rem 0;
    background: url("/img/myapp_rank.png");
    background-size: 100% 100%; 
    padding: 0 0.15rem;

}
#tiao{
	width: 1.4rem;
    height: 0.4rem;
    display: inline-block;
    position: absolute;
    left: 0.12rem;
    top: 3.6rem;
    bottom: 0;
    right: 0;
    border-radius: 0.2rem;
    margin: auto;

}