body{
	font-size: 0.02rem;

}
ul,li{ list-style:none;}
.box{ height:35px; overflow:hidden;}
.t_news{ text-align:right;height:19px;  color:#333 ; padding-left:10px; margin:8px 0; overflow:hidden; position:relative;}
.t_news b{ line-height:19px; font-weight:bold; display:inline-block;margin-right: 10px;font-size: 14px;}
.t_news b img{
	vertical-align: middle;
    margin-bottom: 4px;
}
.news_li,.swap{ line-height:19px; display:inline-block; position:absolute; top:0; right: 105px;}
.news_li a,.swap a{ color:red ;}
.swap{top:19px;}
