#info{
	width: 100%;
	height: 100%;
	text-align: center;
	background: url("/img/reg.png");
	background-size: 100% 100%; 
	font-size: 0.2rem;
}
#info:before{
	content: "";
	display: table;
}
#info h2{
	margin: 1rem 0;
}
#file{
	width: 0.9rem;
	color: transparent;
}
#info>a{
	position: absolute;
	left: 0;
	top: 0;
	color: #f1f1f1;
	font-size: 0.3rem;
	display: inline-block;
	text-align: center;
	margin: 0.1rem;
	padding: 0.05rem 0.2rem;
	text-decoration: none;
}